<html ng-app="main">
<head>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
    <link rel="stylesheet" href="stylesheets/style_new.css">
</head>

<body>

<script>


</script>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <center>
            <div class="logo-font login-title">New Account</div>
            <div class="logo-font login-sub-title">Fill in your details below</div>

            {{#if accountExists}}
                <div class="error-text">This company already has an account.</div>
                <div class="mdl-layout-spacer"></div>
            {{/if}}

            <form action="/createaccount" method="post">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="companyName" name="companyName">
                    <label class="mdl-textfield__label" for="sample3">Company Name</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="email" name="email">
                    <label class="mdl-textfield__label" for="sample3">Email Address</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    <input class="mdl-textfield__input" type="password" id="password" name="password">
                    <label class="mdl-textfield__label" for="sample3">Password</label>
                </div>
                <div>
                    <button type="submit"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Create My Account
                    </button>
                </div>
            </form>
        </center>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>


<script src="javascripts/angular/angular.js"></script>
<script src="/javascripts/angular/angular-leaflet-directive.js"></script>
<script src="javascripts/angular/app.js"></script>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
</body>
</html>