<html ng-app="main">
<head>
    <!-- Material Design Lite -->


    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
    <link rel="stylesheet" href="stylesheets/style_new.css">

</head>
<body style="padding: 0px;">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Trackr</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href=""><span class="mdl-badge" data-badge="4">Events</span></a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Trackr</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>


    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--10-col">


                    <center>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--3-col">
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">24</span>
                                <span class="mdl-chip__text">Active</span>
                            </span>
                            </div>
                            <div class="mdl-cell mdl-cell--3-col">
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--yellow mdl-color-text--white">4</span>
                                <span class="mdl-chip__text">Idle</span>
                            </span>
                            </div>
                            <div class="mdl-cell mdl-cell--3-col">
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">2</span>
                                <span class="mdl-chip__text">Inactive</span>
                            </span>
                            </div>

                            <div class="mdl-cell mdl-cell--3-col">
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--blue mdl-color-text--white">1</span>
                                <span class="mdl-chip__text">Events</span>
                            </span>

                            </div>
                        </div>
                    </center>
                    <div style="padding: 10px;"></div>
                    <map-directive></map-directive>


                </div>
                <div class="mdl-cell mdl-cell--1-col"></div>
            </div>
        </div>
    </main>


    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="javascripts/angular/angular.js"></script>
<script src="/javascripts/angular/angular-leaflet-directive.js"></script>
<script src="javascripts/angular/app.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
</body>
</html>