<style>
    .demo-card-wide.mdl-card {
        width: 100%;
    }

    .demo-card__map > .mdl-card__supporting-text {
        height: 600px;
        width: 90%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .demo-card-wide > .mdl-card__title {
        color: #000;
        height: 80px;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">

    <div class="demo-card__map">
        <leaflet width="100%" height="600px"></leaflet>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
        </a>
    </div>

    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>