<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{home.title}"></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="stylesheets/pricing.css" media="screen"/>


    <link th:href="${#httpServletRequest.requestURL.toString()}" rel="canonical"/>
    <meta name="robots" content="index,follow"/>
    <meta name="description" th:content="#{home.meta.description}"/>


    <meta property="og:title" th:content="#{home.title}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" th:content="${canonical}"/>
    <meta property="og:description" th:content="#{home.meta.description}"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" th:content="${canonical}"/>
    <meta name="twitter:title" th:content="#{home.title}"/>
    <meta name="twitter:description" th:content="#{home.meta.description}"/>

    <link th:href="${#httpServletRequest.requestURL.toString()}"/>

    <link rel="alternate" th:each="state : ${T(com.javabeast.domain.Language).values()}"
          th:hreflang="${state.displayName}"
          th:href="${#httpServletRequest.requestURL.toString()} + '?lang=' + ${state.displayName}"/>


</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">

    <li th:each="state : ${T(com.javabeast.domain.Language).values()}" th:value="${state}">
        <a th:href="${#httpServletRequest.requestURL.toString()} + '?lang=' + ${state.displayName}"
           th:text="${state.languageName}">Placeholder</a>
    </li>
</ul>

<div class="navbar-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Bike Tracker</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="/checkout">Buy</a></li>
                <li><a href="/faq">FAQ</a></li>

                <li th:with="lang=${#locale}">
                    <a class="dropdown-button" href="#!" data-activates="dropdown1"
                       th:inline="text">
                        [[${T(com.javabeast.domain.Language).getNameFromCode(lang)}]]
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li><a href="/login">Login</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<div id="index-banner" class="parallax-container valign-wrapper" style="height:512px">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row valign">
                <div class="col s12 m8 l8">
                    <div class="col l8 m12">
                        <div class="left">
                            <h4 class="orange-text" th:text="#{home.landing.title}">Placeholder</h4>
                            <h4 class="black-text" th:text="#{home.landing.title2}">Placeholder</h4>
                            <p class="black-text flow-text" th:text="#{home.landing.blurb}">Placeholder</p>
                            <div class="col s6 m6 l6 left">
                                <a href="http://materializecss.com/getting-started.html" id="buy-button"
                                   class="btn-large waves-effect waves-light orange lighten-1"
                                   th:text="#{home.landing.button.pay}">Placeholder</a>
                            </div>

                            <div class="col s6 m6 l6 left">
                                <a href="http://materializecss.com/getting-started.html" id="more-button"
                                   class="btn-large waves-effect waves-light white black-text lighten-1"
                                   th:text="#{home.landing.button.features}">Placeholder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>

        </div>
    </div>
    <div class="parallax"><img src="/images/landing.png" alt="A cool motorbike"/></div>
</div>
<div class="divider"></div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="orange-text bold center">24/7 <span class="black-text">Monitoring</span></h5>
            </div>
            <div class="col s12 m6 l6">
                <h5 class="orange-text bold center">Unlimited <span class="black-text">Notifications</span></h5>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h3 class="orange-text center bold">What is Bike-Tracker?</h3>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p class="black-text flow-text center">
                    Bike-Tracker is an anti-theft device that integrates GPS, motion sensor, and silent alarm

                    technology to monitor your motorcycle. Bike-Tracker leverages a worldwide satellite network

                    to provide global monitoring and alerting to keep you connected.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center"><h3 class="orange-text">How it Works</h3></div>
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Register</span>
                        <p>When you receive your Bike-Tracker you'll need to register on our secure online portal.

                            It will only take five minutes and the process is explained 'here'. Once registered,

                            your bike tracker is ready to install.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Install</span>
                        <p>With a few simple tools and our installation guide you’ll be taken through the process

                            of fitting your Bike-Tracker. We’ll supply you with a few fitting options, but choose

                            a location which is best for you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Ready to Ride</span>
                        <p>When your Bike-Tracker is installed you're ready to ride. Arm your Bike-Tracker's

                            motion sensor and silent alarm using the Bike-Tracker mobile application or secure

                            portal and rest easy knowing your motorcycle is safe.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<a name="features" id="features">
    <h1 style="padding-top: 40px; margin-top: -40px;"></h1>
    <h1 style="padding-top: 40px; margin-top: -40px;"></h1>
</a>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12 m12 l8">
                        <div class="col s12 left"><h5>Features</h5></div>
                        <div class="col l6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Worldwide Cover</span>
                                    <p>Your Bike-Tracker provides the same features no matter where you are

                                        in the world - whether you commute to work or travel around the world

                                        you'll be able to track the location of your motorcycle.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col l6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">GPS Tracking</span>
                                    <p>Satellites track the location of your Bike-Tracker at all times. In the

                                        event of theft, you can provide the authorities temporary access to

                                        your GPS data allowing them to recover your motorcycle.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col l6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Motion Sensor</span>
                                    <p>The motion sensor contained in your Bike-Tracker is always ready. It will

                                        activate your silent alarm at the first sign of any continual movement of

                                        your motorcycle when you're not around.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col l6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Silent Alarm</span>
                                    <p>If Bike-Tracker's motion sensor recognizes unauthorised movement

                                        the silent alarm activates. You’ll be notified by push notification,

                                        SMS, telephone, or e-mail. Use the options that are best for you.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Notifications</span>
                                    <p>Bike-Tracker gives you four ways to be notified. You will have access to

                                        an unlimited number of alerts so there's no need to worry about

                                        additional purchases!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col l6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">IP67 Rated</span>
                                    <p>Bike-Tracker is IP67 rated, meaning that it is robust enough to

                                        be impervious from dust and water resistant. Bike-Tracker is

                                        designed for vehicles so it's also shock resistant.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l4">
                        <img src="/images/iphone.png" height="600px" width="300px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                    Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/bike-test.jpg" alt="Unsplashed background img 2"/></div>
</div>

<a name="pricing" id="pricing">
    <h1 style="padding-top: 40px; margin-top: -40px;"></h1>
    <h1 style="padding-top: 40px; margin-top: -40px;"></h1>
</a>

<div class="container">

    <!-- START PRICING TABLE ROW -->
    <div class="row">
        <div class="col s12">
            <h3>Pricing</h3>
            <h3>Our goal is to keep pricing as easy and simple as possible.</h3>
        </div>

        <!-- MATERIALIZE CSS USES 12 COLUMN GRID SYSTEM, DETAILS http://materializecss.com/grid.html -->
        <div class="col s12 m4">

            <!-- START PRICING PLAN -->
            <div class="card pricing style-2">

                <!-- START PLAN TITLE DIV. -->
                <!-- CHANGE COLOR BY CHANGING LAST CSS CLASS (teal) AVAILABLE COLOR CLASSES LISTED HERE http://materializecss.com/color.html -->
                <div class="plan-title waves-effect waves-block waves-light teal">
                    <h5 class="white-text">
                        <span class="plan">MONTHLY</span>
                    </h5>
                </div>
                <!-- END PLAN TITLE DIV. -->

                <!-- START PRICE INFO DIV. -->
                <div class="price waves-effect waves-block waves-light teal lighten-1">
                    <h4 class="white-text">
                        <span class="currency">£</span>
                        <span class="amount">9.99</span>
                        <span class="period">/mo</span>
                    </h4>
                </div>
                <!-- END PRICE INFO DIV. -->

                <div class="card-content">

                    <!-- START FEATURE LIST -->
                    <ul class="collection">

                        <!-- USE FOLLOWING LIST ITEM AS EXAMPLE TO ADD TOOLTIP IN FEATURE -->
                        <li data-tooltip="24/7 monitoring 365 days a year" data-delay="10" data-position="top"
                            class="collection-item tooltipped"><b>24/7</b> Monitoring <i
                                class="mdi-action-info-outline right"></i></li>
                        <li class="collection-item"><b>Unlimited</b> Notifications</li>
                        <li data-tooltip="Monitor your motorcycle from anywhere with the mobile application" data-delay="10"
                            data-position="top"
                            class="collection-item tooltipped"><b>Free</b>  Mobile Application <i
                                class="mdi-action-info-outline right"></i></li>
                        <li class="collection-item"><b>Secure</b> Online Portal</li>
                        <li class="collection-item"><b>Place</b> Holder</li>
                        <li class="collection-item">Place Holder</li>
                    </ul>
                    <!-- END FEATURE LIST -->

                    <!-- START SIGN UP BUTTON -->
                    <div class="plan-signup-btn">
                        <a id="start-now-starter"
                           class="btn waves-effect waves-block waves-light no-margin white-text"
                           href="/checkout?plan=monthly">Buy Now</a>
                    </div>
                    <!-- END SIGN UP BUTTON -->

                </div>
            </div>
            <!-- END PRICING PLAN -->

        </div>

        <!-- FEATURED PLAN ( USE EXTRA CLASS z-depth-4 TO RAISE FEATURED PLAN )-->
        <div class="col s12 m4">

            <!-- START PRICING PLAN -->
            <div class="card pricing style-2 z-depth-4">

                <!-- START PLAN TITLE DIV. -->
                <div class="plan-title waves-effect waves-block waves-light yellow darken-3">
                    <h5 class="dark-grey-text">
                        <span class="plan">1 YEAR</span>
                    </h5>
                </div>
                <!-- END PLAN TITLE DIV. -->

                <!-- START PRICE INFO DIV. -->
                <div class="price waves-effect waves-block waves-light yellow darken-2">
                    <h4 class="dark-grey-text">
                        <span class="currency">£</span>
                        <span class="amount">99</span>
                        <span class="period">/yr</span>
                    </h4>
                </div>
                <!-- END PRICE INFO DIV. -->

                <div class="card-content">

                    <!-- START FEATURE LIST -->
                    <ul class="collection">
                        <li data-tooltip="Dedicated support team available 24/7" data-delay="10" data-position="top"
                            class="collection-item tooltipped"><b>24/7</b> Support <i
                                class="mdi-action-info-outline right"></i></li>
                        <li class="collection-item"><b>3TB</b> Bandwidth</li>
                        <li data-tooltip="On demand increase anytime with extra fee" data-delay="10"
                            data-position="top"
                            class="collection-item tooltipped"><b>50GB</b> Hosting Space <i
                                class="mdi-action-info-outline right"></i></li>
                        <li class="collection-item"><b>8GB</b> Memory</li>
                        <li class="collection-item"><b>50</b> Free Domain</li>
                        <li class="collection-item">User Analytics</li>
                    </ul>
                    <!-- END FEATURE LIST -->

                    <!-- START SIGN UP BUTTON -->
                    <div class="plan-signup-btn">
                        <a id="start-now-plus"
                           class="btn-large waves-effect waves-block waves-light no-margin white-text yellow darken-2"
                           href="/checkout?plan=annual1"><span class="dark-grey-text">Buy Now</span></a>
                    </div>
                    <!-- END SIGN UP BUTTON -->

                </div>
            </div>
            <!-- END PRICING PLAN -->

        </div>
        <div class="col s12 m4">

            <!-- START PRICING PLAN -->
            <div class="card pricing style-2">

                <!-- START PLAN TITLE DIV. -->
                <div class="plan-title waves-effect waves-block waves-light teal">
                    <h5 class="white-text">
                        <span class="plan">3 YEAR</span>
                    </h5>
                </div>
                <!-- END PLAN TITLE DIV. -->

                <!-- START PRICE INFO DIV. -->
                <div class="price waves-effect waves-block waves-light teal lighten-1">
                    <h4 class="white-text">
                        <span class="currency">£</span>
                        <span class="amount">269</span>
                        <span class="period">/3yrs</span>
                    </h4>
                </div>
                <!-- END PRICE INFO DIV. -->

                <div class="card-content">

                    <!-- START FEATURE LIST -->
                    <ul class="collection">
                        <li data-tooltip="Dedicated support team available 24/7" data-delay="10" data-position="top"
                            class="collection-item tooltipped"><b>24/7</b> Support<i
                                class="mdi-action-info-outline right"></i></li>
                        <li class="collection-item"><b>5TB</b> Bandwidth</li>
                        <li data-tooltip="On demand increase anytime with extra fee" data-delay="10"
                            data-position="top"
                            class="collection-item tooltipped"><b>100GB</b> Hosting Space <i
                                class="mdi-action-info-outline right"></i></li>
                        <li class="collection-item"><b>16GB</b> Memory</li>
                        <li class="collection-item"><b>100</b> Free Domain</li>
                        <li class="collection-item">User Analytics</li>
                    </ul>

                    <!-- END FEATURE LIST -->

                    <!-- START SIGN UP BUTTON -->
                    <div class="plan-signup-btn">
                        <a id="start-now-premium"
                           class="btn waves-effect waves-block waves-light no-margin white-text"
                           href="/checkout?plan=annual2">Buy Now</a>
                    </div>
                    <!-- END SIGN UP BUTTON -->

                </div>
            </div>
            <!-- END PRICING PLAN -->

        </div>
    </div>
    <!-- END PRICING TABLE ROW -->

</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                    Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"/></div>
</div>


<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                    it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
</body>
</html>